APP_NAME="CTS App"
APP_ENV=production
APP_DEBUG=false
APP_URL=
FRONTEND_URL=

DB_CONNECTION=pgsql
DATABASE_URL=

JWT_SECRET=

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@uadb.edu.sn
MAIL_FROM_NAME="CTS Vote"