APP_NAME="CTS App"
APP_ENV=production
APP_DEBUG=false
APP_URL=
FRONTEND_URL=

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="CTS Vote"

ALLOWED_EMAIL_DOMAIN=

JWT_SECRET=
JWT_ALGO=HS256

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=